@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    position: relative;
    margin-left: 66px;
    margin-top: 125px;
    width: 24px;
    height: 24px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: .9375em;
    margin-left: 70px;
    margin-top: 53px;
    height: 22px
  }
  .style2,
  .style3 {
    position: relative;
    margin-left: 46px;
    margin-top: 0;
    width: 41px;
    height: 41px
  }
  .style3 {
    margin-left: 54px;
    width: 76px;
    height: 76px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    position: relative;
    margin-left: 135px;
    margin-top: 256px;
    width: 49px;
    height: 49px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 1.92em;
    margin-left: 143px;
    margin-top: 109px;
    height: 45px
  }
  .style2,
  .style3 {
    position: relative;
    margin-left: 94px;
    margin-top: 0;
    width: 84px;
    height: 84px
  }
  .style3 {
    margin-left: 111px;
    width: 156px;
    height: 156px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    position: relative;
    margin-left: 162px;
    margin-top: 307px;
    width: 59px;
    height: 59px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 2.3em;
    margin-left: 172px;
    margin-top: 130px;
    height: 54px
  }
  .style2,
  .style3 {
    position: relative;
    margin-left: 113px;
    margin-top: 0;
    width: 101px;
    height: 101px
  }
  .style3 {
    margin-left: 132px;
    width: 186px;
    height: 186px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    position: relative;
    margin-left: 211px;
    margin-top: 400px;
    width: 77px;
    height: 77px
  }
  .style1 {
    color: rgba(50,50,50,.85);
    font-family: Lato,serif;
    font-size: 3em;
    margin-left: 224px;
    margin-top: 170px;
    height: 70px
  }
  .style2,
  .style3 {
    position: relative;
    margin-left: 147px;
    margin-top: 0;
    width: 131px;
    height: 131px
  }
  .style3 {
    margin-left: 173px;
    width: 243px;
    height: 243px
  }
}